* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

body {
  background-color: aliceblue;
}

img {
  height: 200px;
  width: 150px;
  border: 1px solid rebeccapurple;
}

.container {
  display: flex;
  margin: 40px;
  flex-wrap: wrap;
}

.container div {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid rgb(250, 171, 24);
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(3, 3, 3);
  border-color: white;
  border-style: solid;
  border-color: black;
  font-size: 1rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.705);
  color: rgb(245, 245, 245);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: white;
  font-size: 1rem;
}

.container p {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 3px;
  font-size: 15px;
}

.container p:hover {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 3px;
  font-size: 15px;
}

@media screen and (max-width:720px){
  body{
    background-color: red;
  }
}

@media screen and (max-width:412px){
  body{
    background-color: green;
  }

  * {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
  text-decoration: underline;
  font-variation-settings: "GRAD" 0;
}



  
}