body {
    background-image: url(bg_image_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#header {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 40px;
    border-radius: 5px;

}

#header a {
    padding-right: 15px;
    float: right;
    font-size: 30px;
    color: rgb(131, 5, 5);
    text-decoration: none;
    list-style-type: none;
}

#form1 {
    background-color: rgba(153, 211, 198, 0.555);
    align-items: center;
    width: 400px;
    height: 250px;
    margin-left: 700px;
    margin-top: 270px;
    border-radius: 10px;
}

#form1 input {
    align-items: center;
    border-color: black;
    display: block;
    width: 80%;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 40px;
    height: 10%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-transform: lowercase;
}

#form1 h2 {
    text-align: center;
    color:aliceblue;
}

#form1 button {
    border-style: solid;
    align-items: center;
    color: green(255, 255, 255);
    background-color: white;
    font-size: 20px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}



#header a:hover {
    color: blue;
}